extends ../layout

block content
  div.header
    div.name Sir Ender
    div.species Siberan Husky
    div.born September 17, 2013
    input(type="file", name="file", id="file-field", multiple)

  div.photos-wrapper
    div.photo-column.photo-column-left
      each photo, index in photos
        if index%3===0 
          img(src="#{photo.url}", data-index="#{index}", data-mod3="#{index % 3}")
    div.photo-column.photo-column-middle.nudge
      each photo, index in photos
        if index%3===1 
          img(src="#{photo.url}", data-index="#{index}", data-mod3="#{index % 3}")
    div.photo-column.photo-column-right.nudge
      each photo, index in photos
        if index%3===2 
          img(src="#{photo.url}", data-index="#{index}", data-mod3="#{index % 3}")

  script(type="text/javascript", src="./javascripts/photos_list.js")
